.photo-detail {
  .title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #434959;
  }
  .detail-column {
    display: flex;

    .column-1 {
      img {
        width: 230px;
        height: 180px;
      }
      p {
        .photo-label {
          display:inline-block;
          width: 60px;
          font-size: 13px;
          font-weight: 600;
          letter-spacing: -0.2px;
          color: #434959;
        }  
        span {
          font-size: 13px;
          font-weight: normal;
          color: #727682;
        }
      }
    }
    .column-2 {
      margin-left: 24px;
      .label-title {
        font-size: 16px;
        font-weight: bold;
        
        letter-spacing: -0.5px;
        color: #727682;
        img {
          width: 18px;
          height: 18px;
        }
      }
      .label {
        padding: 8px 20px 16px 20px;
        box-shadow: 0 2px 2px 0 #ecedef;
        width: 500px;
        border-radius: 10px;
        border: solid 1px #dfe3ea;
        margin-bottom: 12px;
        .count {
          font-size: 18px;
          font-weight: bold;
          letter-spacing: -0.5px;
          color: #434959;
        }
        p {
          .label-type {
            display: inline-block;
            width: 40px;
            height: 19px;
            font-weight: 700;
            font-size: 16px;
          }
          span {
            font-size: 14px;
            font-weight: normal;
            letter-spacing: -0.2px;
            color: #727682;
          }
        }
      }
    }
  }
  .completed {
    float: right;
    img {
      width: 88px;
      height: 34px;
    }
    :hover {
      box-shadow: 0 15px 15px #ecedef;
    }
  }
}